<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>moodswin.gs</title>
    <link rev="made" href="mailto:mike@mike-burns.com" title="Author" />
  </head>
  <body>
    <h1>moodswin.gs</h1>
    <p>Like Madonna said, &quot;Express yourself.&quot;</p>
  </body>
</html>
